<!-- 非同期通信 -->
<i class="fa fa-envelope-square "></i> <%= comments.count %>件
<% comments.each do |comment| %>
  <% unless comment.id.nil? %>

    <div class="field">
      <%= attachment_image_tag(comment.user, :profile_image, size: "50x50", class: "img-circle pull-left profile-thumb", fallback: "4dbc7e0f.jpg") %>
    </div>

    <div class="field">
      <%= comment.user.name %>
    </div>

    <div class="field">
      <%= comment.content %>
      <% if comment.user == current_user %>
        <%= link_to "削除", post_comment_path(comment.post_id, comment.id), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, remote: true, class: "btn btn-danger" %>
      <% end %>
    </div>
  <% end %>
<% end %>