<div class="chat-group-form">
  <h1>新規チャットグループ</h1>

    <%= form_for @group do |f| %>
    <div class="chat-group-form_field">
      <div class="chat-group-form_field--left">
        <%= f.label :name, "グループ名", class: 'chat-group-form_label' %>
      </div>
      <div class="chat-group-form_field--right">
        <%= f.text_field :name, class: 'chat_group_name chat-group-form__input', placeholder: 'グループ名を入力してください' %>
      </div>
    </div>

    <div class="chat-group-form_field.clearfix">
      ユーザー追加の非同期化の時に使用
    </div>
    <div class="chat-group-form_field.clearfix">
      <dic class="chat-group-form__field--left">
        <%= f.label "チャットメンバー", class: 'chat-group-form_label' %>
      </dic>
      <div class="chat-group-form_field-right">
        <%= f.collection_check_boxes :user_ids, User.all, :id, :name %>
      </div>
    </div>

    <div class="chat-group-form_field.clearfix"></div>
      <div class="chat-group-form_field--left"></div>
      <div class="chat-group-form_field--right"></div>
      <%= f.submit class: 'chat-group-form__action-btn' %>
    <% end %>




