<div class="col-xs-7">
  <h2>グループ名</h2>
    <div class="field">
      <p>
        業界<%= @group.name %>
      </p>
    </div>
    <div class="field">
        <%= link_to "戻る", groups_path, class: "back" %>
        <%= link_to "削除",@group, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger" %>
    </div>
</div>

<div class="col-xs-5">

    <div class="field">
      <h3>回答</h3>
    </div>

    <div id="messages_area">
      <%= render partial: 'messages/index', locals: { messages: @messages } %>
    </div>

    <% if user_signed_in? %>

    <div class="comment-create">
      <h3>回答する</h3>
        <%= render partial: 'messages/form', locals: { message: @message, group: @group } %>
    </div>
    <% end %>

</div>