<h2 class="head-line title_h2 text-center">マイページ</h2>
<div class="flip">
  <div class="card"> 
    <div class="face front"> 
      <div class="details">
        <div>
          <%= @user.nickname %>
            <% if @user.id != current_user.id %>
              <span id='follow-button_<%= @user.id %>'>
                <%= render 'users/follow-button', user: @user %>
              </span>
          <% end %>
        </div>
        <hr>
        
        <div class="role">
          職種:<%= @user.category %>
        </div>

        <div class="role">
          職種:<%= @user.sub_category %>
        </div>
        
        <div class="role">
          自己紹介
        </div>
      
        <div class="role">
          <%= @user.introduction %>
        </div>
         
      </div>
        <div class="avatar">
          <%= attachment_image_tag(@user, :profile_image, size: "200x200", class: "img-circle pull-left profile-thumb", fallback: "4dbc7e0f.jpg") %>
        </div>
    </div>
    <div class="face back"> 
      <div class="social">
        <table>
          <tr>
            <td id='following-count_<%= @user.id %>}'><%= link_to "フォロー" ,users_following_path(@user.id), class: "btn-lg  btn-warning" %></td>
            <td id= 'follower-count_<%= @user.id %>'><%= link_to "フォロワー", users_follower_path(@user.id), class: "btn-lg btn-warning" %></td>
          </tr>
          <tr>
            <td id='following-count_<%= @user.id %>}'><%= link_to "#{@user.follower.count}" ,users_following_path(@user.id), class: "btn-lg  btn-info" %></td>     
            <td id= 'follower-count_<%= @user.id %>'><%= link_to "#{@user.followed.count}", users_follower_path(@user.id), class: "btn-lg btn-info" %></td>
          </tr>
          <tr>
            <td>
              <%= link_to "戻る", users_path, class: "btn-lg btn-success" %>
            </td>   
            <td>
              <% if @user.id == current_user.id %>
                <%= link_to "編集", edit_user_path(@user.id), class: "btn-lg btn-success" %>
              <% end %>
            </td>
          </tr>
        </table>
      </div> 
    </div>       
  </div> 
</div> 
<!-- DM機能試作 -->
<% if @user.id == current_user.id %>
<% else %>
  <!-- すでにチャットルームが作成されているかされていないかの条件分岐 -->
  <% if @isRoom == true %>
    <p><a href="/rooms/<%= @roomId %>">チャットへ</a>
  <% else %>
    <%= form_for @room do |f| %>
      <!-- Entriesテーブルのレコードにはuser_idを送る必要があるため -->
      <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, value: @user.id %>
      <% end %>
      <%= f.submit "チャットを始める" %>
    <% end %>
  <% end %>
<% end %>
