<div class="col-xs-12">
<h2>マイページ</h2>
  <table class="table table-bordered table-condensed">
    <tr>
        <%= attachment_image_tag(@user, :profile_image, size: "200x120", fallback: "4dbc7e0f.jpg") %>
    </tr>
    <tr>
      <th class="info col-xs-2">ニックネーム</th>
      <th>
        <%= @user.nickname %>
      </th>
      <th>
        <% if @user.id != current_user.id %>
        <span id='follow-button_#{ user.id }'>
        <%= render 'users/follow-button', user: @user %>
        </span>
        <% end %>
      </th>
    </tr>
    <tr>
      <th>自己紹介</th>
      <th>
        <%= @user.introduction %>
      </th>
    </tr>
    <tr>
      <th>フォロー</th>
      <th><%= link_to "#{@user.follower.count}" ,users_following_path(@user.id) %>
    </tr>
    <tr>
      <th>フォロワー</th>
      <th><%= link_to "#{@user.followed.count}", users_follower_path(@user.id) %>
    </tr>
    <tr>
      <th>
        <%= link_to "戻る", users_path, class: "back" %>
      </th>
      <th>
        <%= link_to "編集", edit_user_path(@user.id) %>
      </th>
    </tr>
  </table>
</div>

