<%= form_with(model: contact, local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field col-xs-12">
    <%= form.label :"名前", class: "col-sm-5" %>
    <%= form.text_field :name, class: "col-sm-7" %>
  </div>

  <div class="field col-xs-12">
    <%= form.label :email, class: "col-sm-5" %>
    <%= form.text_field :email, class: "col-sm-7" %>
  </div>

  <div class="field col-xs-12">
    <%= form.label :"内容", class: "col-sm-5" %>
    <%= form.text_area :content, class: "col-sm-7" %>
  </div>

  <div class="actions col-xs-12">
    <%= form.submit "送信" %>
  </div>
<% end %>
