<div class="col-xs-12">
  <!-- 業界追加 -->
  <%= render "layouts/error_messages", resource: @sub_category %>
  <%= form_for(@sub_category) do |f| %>
  <div>
    <%= f.label :"カテゴリー名" %>
    <%= f.text_field :name, class: "sub_category_name" %>
  </div>
  <div>
    <%= f.submit "追加", class: "btn btn-info" %>
  </div>
  <% end %>

  <!-- 業界一覧 -->
  <table class="table table-hover table-inverse">
    <thead>
      <tr>
        <th>業界</th>
      </tr>
    </thead>
    <tbody>
      <%= @sub_categories.each do |sub_category| %>
        <tr>
          <td>
            <%= sub_category.name %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>