<!-- 新規投稿 -->
<h3>お悩み投稿</h3>
<%= form_for(@post) do |f| %>

  <div class="form-group">
  　 <%= f.label :"業界", class: "col-xs-7 control-label" %>
  　 <%= f.collection_select(:category_id, Category.all, :id, :name, prompt: "-- 選択してください --", class: "col-xs-12") %>
  </div>

  <div class="form-group">
  　 <%= f.label :"職種", class: "col-xs-7 control-label" %>
  　 <%= f.collection_select(:sub_category_id, SubCategory.all, :id, :name, prompt: "-- 選択してください --", class: "col-xs-12") %>
  </div>

  <div class="form-group">
    <%= f.label :"タグ", class: "col-xs-12 control-label" %>
    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
      <div>
        <%= tag.label do %>
          <%= tag.check_box %>
          <%= tag.text %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :"タイトル", class: "col-xs-7 control-label" %>
    <%= f.text_field :title, class: "col-xs-12 title" %>
  </div>

  <div class="form-group">
    <%= f.label :"投稿内容", class: "col-xs-7 control-label" %>
    <%= f.text_area :body, class: "col-xs-12 body" %>
  </div>
  
  <div class="form-group">
    <%= f.submit "投稿する", class: "col-xs-6 btn btn-primary pull-right" %>
  </div>

<% end %>