<div class="col-xs-3">

<%= render 'layouts/error_messages', resource: @post %>
<%= render 'posts/newform', post: @post %>

</div>
<!-- 投稿一覧表示 -->
<div class="col-xs-9">
<h3>お悩み一覧</h3><%= paginate @posts %>
<%= form_tag posts_path, method: :get, class: 'boards__searchForm' do %>
      <%= select_tag :tag_id,
                     options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                     {
                       prompt: 'タグで絞り込み検索',
                       onchange: 'submit(this.form);'
                     }
      %>
    <% end %>
<%= render 'posts/searchform', post: @post %> 

<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>順位</th>
      <th></th>
      <th>業界</th>
      <th>職種</th>
      <th>タグ</th>
      <th>タイトル</th>
      <th>コメント数</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each.with_index(1) do |post, index| %>
    <tr>
      <td>
        <%= index + @page %>位
        <i class="fa fa-eye "></i>
        <%= post.impressions_count %>
      <td>
        <%= attachment_image_tag(post.user, :profile_image, size: "50x50", class: "img-circle pull-left profile-thumb", fallback: "4dbc7e0f.jpg") %>
      </td>
      <td>
        <%= post.category.name %>
      </td>
      <td>
        <%= post.sub_category.name %>
      </td>
      <td>
        <% post.tags.each do |tag| %>
          <%= tag.name %>
        <% end %>
      </td>
      <td>
        <%= link_to post.title, post_path(post.id)%>
      </td>
      <td>
        <%= post.comments.count %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>




