<div class="post_show">
  <h2 class="head-line title_h2 text-center">投稿詳細</h2>
  <hr>
  <div class="box">
    <div class="field">
      <p>
        業界:<%= @post.category.name %>
      </p>
    </div>
    <div class="field">
      <p>
        職種:<%= @post.sub_category.name %>
      </p>
    </div>
    <div class="field">
      <% @post.tags.each do |tag| %>
        タグ:<%= tag.name %>
      <% end %>
    </div>
    <div class="field">
      <p>
        タイトル:<%= @post.title %>
      </p>
    </div>
    <div class="field">
      <p>
        投稿内容:<%= @post.body %>
      </p>
    </div>
    <div class="field">
      <p>
        いいね数<i class="fa fa-heart" aria-hidden="true"></i>:
        <%= @post.likes.count %>
      </p>
    </div>
    <div class="field">
      <p>
        コメント数<i class="fa fa-comment"></i>:
        <%= @post.comments.count %>
      </p>
    </div>
    <div class="field">
      <p>
        閲覧数<i class="fa fa-eye "></i>:
        <%=  @post.impressionist_count %>
      </p>
    </div>
    <div class="field">
        <% if @post.user == current_user %>
        <%= link_to "編集", edit_post_path(@post.id), class: "btn-sm btn-success" %>
        <%= link_to "削除",@post, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger" %>
        <% end %>
        <%= link_to "戻る", posts_path, class: "btn-sm btn-primary" %>
    </div>
  </div>
</div>

<div class="comment_area">        
  <h3 class="head-line title_h2 text-center">回答一覧</h3>
  <hr>
    <div class="box-1">
      <div id="comments_area">
        <%= render partial: 'comments/index', locals: { comments: @comments } %>
      </div>
    </div>
</div>

<div class="comments_form">
  <% if user_signed_in? %>

  <div class="comment-create">
    <h3 class="head-line title_h2 text-center">回答する</h3>
    <hr>
      <div class="box-2">
        <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
      </div>
  </div>
  <% end %>
</div>


