<div class="col-xs-7">
  <h2>投稿詳細</h2>
    <div class="field">
      <p>
        業界<%= @post.category.name %>
      </p>
    </div>
    <div class="field">
      <p>
        職種<%= @post.sub_category.name %>
      </p>
    </div>
    <div class="field">
      <p>
        タイトル<%= @post.title %>
      </p>
    </div>
    <div class="field">
      <p>
        投稿内容<%= @post.body %>
      </p>
    </div>
    <div class="field">
      <p>
        閲覧数
      </p>
    </div>

    <div class="field">
        <%= link_to "編集", edit_post_path(@post.id) %>
        <%= link_to "戻る", posts_path, class: "back" %>
        <%= link_to "削除",@post, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger" %>
    </div>
</div>

<div class="col-xs-5">

    <div class="field">
      <h3>回答</h3>
    </div>

    <div id="comments_area">
      <%= render partial: 'comments/index', locals: { comments: @comments } %>
    </div>

    <% if user_signed_in? %>

    <div class="comment-create">
      <h3>回答する</h3>
        <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
    </div>
    <% end %>

</div>
