<div class="col-xs-12">

  <!-- 業界追加 -->
  <%= form_for(@category) do |f| %>
  <div>
    <%= f.label :"カテゴリー名" %>
    <%= f.text_field :name, class: "category_name" %>
  </div>
  <div>
    <%= f.submit "追加", class: "btn btn-info" %>
  </div>
  <% end %>

  <!-- 業界一覧 -->
  <table class="table table-hover table-inverse table-bordered">
    <thead>
      <tr>
        <th>業界</th>
      </tr>
    </thead>
    <tbody>
      <%= @categories.each do |category| %>
        <tr>
          <td>
            <%= category.name %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

