<div class="col-xs-12">

  <!-- 業界追加 -->
  <%= render "layouts/error_messages", resource: @category %>
  <%= form_for(@category) do |f| %>
  <div>
    <%= f.label :"カテゴリー名" %>
    <%= f.text_field :name, class: "category_name" %>
  </div>
  <div>
    <%= f.submit "追加", class: "btn btn-info" %>
  </div>
  <% end %>

  <!-- 業界一覧 -->
  <table class="table table-hover table-inverse">
    <thead>
      <tr>
        <th>業界</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td>
            <%= category.name %>
          </td>
          <td>
            <%= link_to "削除",category, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

