<nav id="g_navi">
  <ul class="g_navi_ul">
    <!-- if文でログイン時と通常時の違いを表示 -->  
    <% if user_signed_in? %>   
    <li>
        <%= link_to 'マイページ', user_path(current_user.id), data: {"turbolinks"=>false}, class: "fa fa-user-circle"  %>
    </li>
    <li>
      <%= link_to '会員一覧', users_path, class: "fa fa-users" %>
    </li>
    <li>
      <%= link_to 'お悩み一覧', posts_path, class: "fas fa-keyboard" %>
    </li>
    <li>
      <%= link_to 'チャット一覧', groups_path, class: "fa fa-comments" %>
    </li>
    <li>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "fa fa-power-off" %>
    </li>

    <% else %>

    <li>
      <%= link_to 'お悩み一覧', posts_path, class: "fas fa-keyboard" %>
    </li>
    <li>
      <%= link_to 'チャット一覧', groups_path, class: "fa fa-comments" %>
    </li>
    <li>
      <%= link_to 'サインイン', new_user_registration_path, class: "fas fa-smile" %>
    </li>
    <li>
      <%= link_to 'ログイン', new_user_session_path, class: "fas fa-frown" %>
    </li>
    <li>
      <%= link_to 'Home', root_path, class: "fa fa-home" %>
    </li>
    <% end %>
  </ul>
</nav>