<h1>
  <a>職LOVE</a>
</h1>
  <nav class="pc-nav">
    <ul>
      <!-- if文でログイン時と通常時の違いを表示 -->        
      <li>
        <%= link_to '会員一覧', users_path, class: ''  %>
      </li>
      <li>
        <%= link_to 'お悩み一覧', posts_path, class: '' %>
      <li>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: '' %>
      </li>
      <li>
        <%= link_to 'sign up', new_user_registration_path, class: '' %>
      </li>
      <li>
        <%= link_to 'login', new_user_session_path, class: '' %>
      </li>
    </ul>
  </nav>
