<!DOCTYPE html>
<html>
  <head>
    <title>CommunityApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body>

    <header>
      <%= render "layouts/header" %>
    </header>

    <div class="glovalNavigation">
      <%= render "layouts/glovalNavigation" %>
    </div>

    <div class="container test">
      <div class="row">
        <div id="flash">
          <%= render "layouts/flash" %>
        </div>
        <%= yield %>
      </div>
    </div>

    <footer class="footer">
      <p id="pageTop"><a href="#"><i class="fa fa-chevron-up"></i></a></p>
        <%= render "layouts/footer" %>
    </footer>
    
  </body>
</html>
